<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <title>用户列表</title>

    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Morris -->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"/>



    <!--checkbox-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet"/>

    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet"/>
    <link href="../css/style.min.css?v=4.0.0" rel="stylesheet"/>

</head>

<body onload="userList.load()" class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight tooltip-demo">

    <!--search-->
    <form role="form" class="search-panel" id="searchUser" method="get" action="/back/showUserList">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content p-m no-borders">
                        <div class="form-inline">
                            <div class="form-group m-r-sm">
                                <label class="control-label" for="name">用户昵称：</label>
                                <input th:value="${userName}" type="text" class="form-control input-sm mb10" id="name" name="userName" placeholder="用户昵称"/>
                            </div>
                            <input th:value="${pageNo}" type="hidden" name="pageNo"/>
                        </div>
                        <p style="height: 8px;"></p>

                        <div class="form-inline" style="max-width: 926px; text-align: right;">
                            <button type="button" class="btn btn-success" onclick="userList.search()">筛选</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--search-->

    <!--list-->
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins m-b-none">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <table id="userList" class="table table-striped table-bordered table-hover  dataTable" aria-describedby="editable_info">
                            <thead>
                            <tr>
                                <th>用户序号</th>
                                <th>用户名称</th>
                                <th>是否Vip</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="l:${list}">
                                <td th:text="${l[0]}"></td>
                                <td th:text="${l[1]}">母婴营养</td>
                                <td th:text="${l[2]}!=null?'Vip'">母婴营养</td>
                                <td>
                                    <a href="#" th:onclick="'userList.modifyUserLevel(this,1,'+${l[0]}+')'" class="cursor-point">
                                        <i class="fa fa-plus" data-placement="top" data-toggle="tooltip"
                                           data-original-title="升级">
                                        </i>
                                    </a>


                                    <a href="#" th:onclick="'userList.modifyUserLevel(this,0,'+${l[0]}+')'" class="cursor-point">
                                        <i class="fa fa-minus" data-placement="top" data-toggle="tooltip"
                                           data-original-title="降级"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                <div class="dataTables_info" id="DataTables_Table_0_paginate">
                                    <ul style="float: right;" class="pagination">
                                        <li class="paginate_button">
                                            <a href="#" onclick="userList.goToUp()" >上一页</a></li>
                                        <li class="paginate_button">
                                            <a href="#" onclick="userList.goToDown()">下一页</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--基础框架js-->
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/content.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/layer/2.4/layer.js"></script>


<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var userList={};

    userList.modifyUserLevel=function(obj,type,userId){
        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "modifyUserLevel",
            data: {userId:userId,type:type},
            success: function (result) {
                userList.bulidModify(type,obj);
                layer.msg("修改成功！");
            }
        });
    };

    userList.bulidModify=function(type,obj){
        var vip=$(obj).parent().parent().children("td")[2];
        if(type==1){
            $(vip).text("Vip");
        }else {
            $(vip).text("");
        }
    };

    userList.goToUp=function(){
        var pageNo=parseInt($("input[name='pageNo']").val());
        if(pageNo<=0){
            pageNo==0;
        }else {
            pageNo--;
        }
        $("input[name='pageNo']").val(pageNo);
        $("#searchUser").submit();
    };

    userList.search=function(){
        $("input[name='pageNo']").val(0);
        $("#searchUser").submit();
    }
    userList.goToDown=function(){
        var pageNo=parseInt($("input[name='pageNo']").val());
        $("input[name='pageNo']").val(pageNo+1);
        $("#searchUser").submit();
    };



    /*]]>*/
</script>
</body>

</html>
